html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

h1 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 5%;
    color: black;
}

input {
    width: 10%;
}

table {
    width: 75%;
    text-align: center;
    margin: auto;
    border: solid thin gray;
    border-collapse: collapse;
}

td, th {
    border: solid thin gray;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

#topMenu {
    width: 100%;
    height: 10%;
    margin: 0px;
}

#topMenuLogo {
    background-color: whitesmoke;
    float: left;
    width: 100%;
    height: 55%;
    margin: 0px;
}

#name{
    float: left;
    width: 50%;
}

#topMenuLogo img{
    float: left;
    height: 100%;
}

#topMenuNav{
    background-color: #333;
    float: left;
    width: 100%;
    height: 45%;
    margin: 0px;
}

#topMenuNav button{
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
}

#topMenuNav button:hover{
    background-color: #111;
    color: white;
}

.navLeft{
    float: left;
    width: 50%;
    height: 100%;
}

.navRight{
    float: right;
    width: 50%;
    height: 100%;
}

#center {
    background-color: white;
    width: 100%;
    height: 87.5%;
    margin: auto;

}

.navRight button{
    float: right;
    height: 100%;
    width: 20%;
    background-color: gray;
    margin: 0px;
}

#center {
    background-color: pink;
    width: 100%;
    height: 85%;
    margin: auto;
}

#greeting {
    background-color: green;
    float: left;
    width: 70%;
    height: 5%;
    margin: 0;
    font-size: 24px;
    padding: 0 0 0 5%;
}


#featured{
    background-color: lightseagreen;
    float: left;
    width: 70%;
    height: 95%;
    margin: 0;
}

#featuredData{
    background-color: whitesmoke;
    border: solid thin black;
    border-radius: 1em;
    width: 80%;
    height: 17.5%;
    margin: 2.5% auto;
    padding: 5%;
    position: relative;
}

#featuredDataHolder{
    padding: 1%;
    clear: both;
    width: 100%;
    height: 98%;
    background-color: white;
}

#latest{
    background-color: red;
    float: right;
    width: 30%;
    height: 95%;
    margin: 0;
}

#latestData{
    background-color: whitesmoke;
    border: solid thin black;
    border-radius: 1em;
    width: 60%;
    height: 12.5%;
    margin: 5% auto;
    padding: 5%;
    position: relative;
}

#latestDataHolder{
    text-align: center;
    padding: 0.5% 0;
    clear: both;
    width: 100%;
    height: 100%;
    background-color: white;

}

#viewAll{
    text-align: center;
    width: 100%;
    margin: auto;
}

/*
 *
 * Search Page css
 *
 */

#searchBySelector{
    color: white;
    width: 90%;
    height: 3.5%;
    padding: 1%;
    margin: auto;
}

#display{
    width: 90%;
    height: 90%;
    margin: auto;
}

#holderSmall{
    float: left;
    width: 50%;
    height: 15%;
}

#holderMid{
    width: 45%;
    height: 85%;
}

#holderLarge{
    float: left;
    width: 100%;
    height: 75%;
}

#searchByQuiz, #searchByResults{
    border: solid thin black;
    margin: 0% 5% 0 5%;
    float: right;
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    padding: 1% 0 0 5%; 
}

/* This might not be required...
#searchByResults{
    border: solid thin black;
    margin: 5%;
    width: 40%;
    height: 12.5%;
    padding: 1%;
    float: right;
    background-color: blue;

    padding: 1% 0 0 5%; 

}
*/

#emptySpacer{
    float: right;
    background-color: black;
    width: 48%;
    height: 12.5%;
}

#leftRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: brown;
}

#rightRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: gray;
}

#output{
    float: bottom;

    height: 100%;
    width: 100%;
}

#outputData{
    text-align: center;
    float: left;
    margin: auto;
    background-color: aqua;
    height: 50%;
}

#searchBox{
    background-color: whitesmoke;
    border: solid thin black;
    width: 60%;
    height: 45%;
    margin: 5% auto;
    padding: 5%;
    position: relative; 
}

#quizName{
    text-align: left;
    width: 100%;
    height: auto;
    position: relative; 
    text-decoration: underline;
}

#quizDescription{
    text-align: left;
    width: 100%;
    height: auto;
    position: relative; 
}

#btnTakeQuiz{
    text-align: right;
    margin: 5% 0 1% 0;
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0;
}


/* 
 * Login Page css 
 */

#centerLogin{
    padding: 10% 0 0 0;
    background-color: white;
    width: 100%;
    height: 85%;
    margin: auto;
}

#login, #signup{
    margin: auto;
    border: solid thin black;
    width: 25%;
    height: 35%;
    background-color: cyan;
    border-radius: 15%;
}

#loginInner{
    margin: 0 12.5%;
    width: 100%;
    height: 100%;
}

#loginInner input{
    margin: 0 15% 0 0;
    float: right;
    width: 50%;
    height: 100%;
}

#loginInnerBot, #loginInnerTop{
    text-align: center;
    width: 75%;
    margin: 2.5% 0;
}

/* 
 * Editor Page css 

 */

#sideLeft{
    float: right;
    padding: 1%;
}

#sideRight{
    float: left;
    padding: 1%;
}

#createNew, #editExisting{
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
    background-color: aqua;
    border-radius: .5em;
}

#searchPanel{
    border: solid thin black;
    border-radius: .5em;
}

#searchBox{
    border: solid thin black;
    border-radius: .5em;
}

#infoPanel{
    border: solid thin black;
    border-radius: .5em;
}

#infoPanel input{
    width: 90%;
}

#searchData{
    border: solid thin black;
}

