html,
body {
   
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

h1 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 5%;
    color: black;
}

input {
    width: 10%;
}

table {
    width: 75%;
    text-align: center;
    margin: auto;
    border: solid thin gray;
    border-collapse: collapse;
}

td, th {
    border: solid thin gray;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

#topMenu {
    width: 100%;
    height: 10%;
    margin: 0px;
}

#topMenuLogo {
    background-color: white;
    float: left;
    width: 100%;
    height: 55%;
    margin: 0px;
}

#name{
    float: left;
    width: 50%;
}

#topMenuLogo img{
    float: left;
    height: 100%;
}

#topMenuNav{
    background-color: #333;
    float: left;
    width: 100%;
    height: 45%;
    margin: 0px;
}

#topMenuNav button{
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
}

#topMenuNav button:hover{
    background-color: #111;
    color: white;
}

.navLeft{
    float: left;
    width: 50%;
    height: 100%;
}

.navRight{
    float: right;
    width: 50%;
    height: 100%;
}

.navLeft button{
    height: 100%;
    width: 19%;
    background-color: gray;
    margin: 0px;
}

.navRight button{
    float: right;
    height: 100%;
    width: 20%;
    background-color: gray;
    margin: 0px;
}

#center {
    background-color: pink;
    width: 100%;
    height: 85%;
    margin: auto;
}

#greeting {
    background-color: green;
    float: left;
    width: 70%;
    height: 5%;
    margin: 0;
}

#botMenu {
    background-color: green;
    width: 100%;
    height: 5%;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
}

/*
 *
 * Search Page css
 *
 */

#searchBySelector{
    background-color: green;
    width: 90%;
    height: 3.5%;
    padding: 1%;
    margin: auto;
}

#displayQuiz{
    width: 90%;
    border: solid thin black;
    height: 90%;
    margin: auto;
}

#displayResult{
    width: 80%;
    border: solid thin black;
    height: 80%;
    margin: auto;
}

#holderSmall{
    float: left;
    width: 50%;
    height: auto;
}

#holderMid{
    width: 45%;
    height: 85%;
}

#holderLarge{
    float: left;
    width: 100%;
    height: 75%;
}

#searchByQuiz{
    border: solid thin black;
    margin: 0% 5% 0 5%;
    float: right;
    width: 80%;
    height: 100%;
    background-color: red;
    padding: 5% 0 0 5%; 
}

#searchByResults{
    border: solid thin black;
    margin: 5%;
    width: 40%;
    height: 12.5%;
    padding: 1%;
    float: right;
    background-color: blue;
    color: white;
}

#emptySpacer{
    float: right;
    background-color: coral;
    width: 48%;
    height: 12.5%;
}

#leftRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: brown;
}

#rightRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: gray;
}

#output{
    float: bottom;
    border: solid thin green;
    background-color: cadetblue;
    height: auto;
    width: 100%;
}

#outputData{
    float: left;
    width: 20%;
    margin: auto;
    background-color: aqua;
    height: 15%;
}

/* 
 * Login Page css 
 */

#centerLogin{
    padding: 10% 0 0 0;
    background-color: pink;
    width: 100%;
    height: 85%;
    margin: auto;
}

#login, #signup{
    margin: auto;
    border: solid thin black;
    width: 25%;
    height: auto;
    background-color: cyan;
    border-radius: .5em;
}

#loginInner{
    margin: 0 12.5%;
    width: 100%;
    height: 100%;
}

#loginInner input{
    margin: 0 15% 0 0;
    float: right;
    width: 50%;
    height: 100%;
}

#loginInnerBot, #loginInnerTop{
    text-align: center;
    width: 75%;
    margin: 2.5% 0;
}

/* 
 * Editor Page css 
 */

#buttonLeft{
    float: right;
    padding: 1%;
}

#buttonRight{
    float: left;
    padding: 1%;
}

#buttonLeft button, #buttonRight button{
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
    background-color: aqua;
    border-radius: .5em;
}

