html,
body {
   
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

h1 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 0 0 0;
    padding: 0 0 0 5%;
    color: black;
}

input {
    width: 10%;
}

table {
    width: 75%;
    text-align: center;
    margin: auto;
    border: solid thin gray;
    border-collapse: collapse;
}

td, th {
    border: solid thin gray;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
    /*
    opacity: 0.25;
    
    */
}

.highlighted {
    background-color: yellow;
}

/*
 * Backgrounds with classes
 */

.blue{
    background-image: url("../images/Blue.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green{
    background-image: url("../images/Green.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.purple{
    background-image: url("../images/Purple.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.red{
    background-image: url("../images/Red.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white{
    background-image: url("../images/White.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow{
    background-image: url("../images/Yellow.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * Base for all pages
 */

#topMenu {
    width: 100%;
    height: 10%;
    margin: 0px;
}

#topMenuLogo {
    background-color: whitesmoke;
    float: left;
    width: 100%;
    height: 55%;
    margin: 0px;
}

#name{
    float: left;
    width: 50%;
}

#topMenuLogo img{
    float: left;
    height: 100%;
}

#topMenuNav{
    background-color: #333;
    float: left;
    width: 100%;
    height: 45%;
    margin: 0px;
}

.navLeft{
    float: left;
    width: 50%;
    height: 100%;
}

.navRight{
    float: right;
    width: 50%;
    height: 100%;
}

.navLeft button, .navRight button{
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    margin: 0px;
    height: 100%;
}

.navLeft button:hover, .navRight button:hover{
    background-color: #111;
    color: white;
}

.navLeft button{
    float: left;
    width: 19%;
}

.navRight button{    
    float: right;
    width: 20%;
}

#center {
    width: 100%;
    height: 87.5%;
    margin: auto;
}

#center button{
    background-color: #333;
    color: white;
    font-size: 16px;
    margin: 2.5%;
    padding: 1%;
}

#botMenu {
    background-color: #333;
    width: 100%;
    height: 2.5%;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    border-top: solid thin black;
}

.row{
    width: 100%;
}

.column50{
    width: 50%;
}

.column25{
    width: 25%;
}

/*
 *
 * Home / Dashboard Page css
 *
 */

#greeting {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    float: left;
    width: 70%;
    height: 5%;
    margin: 0;
    font-size: 24px;
    padding: 0 0 0 5%;
}

#featured{
    float: left;
    width: 70%;
    height: 95%;
    margin: 0;
}

#featuredData{
    background-color: whitesmoke;
    border: solid thin black;
    border-radius: 1em;
    width: 80%;
    height: 17.5%;
    margin: 2.5% auto;
    padding: 5%;
    position: relative;
}

#featuredDataHolder{
    padding: 1%;
    clear: both;
    width: 100%;
    height: 98%;
}

#latest{
    float: right;
    width: 30%;
    height: 95%;
    margin: 0;
}

#latestData{
    background-color: whitesmoke;
    border: solid thin black;
    border-radius: 1em;
    width: 60%;
    height: 12.5%;
    margin: 5% auto;
    padding: 5%;
    position: relative;
}

#latestDataHolder{
    text-align: center;
    padding: 0.5% 0;
    clear: both;
    width: 100%;
    height: 100%;
}

#title{
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    float: left; 
    height: 5%;
    width: 50%;
    margin: 0 0 0 10%;
    font-size: 18px;
}

#viewAll{
    text-align: center;
    width: 100%;
    margin: auto;
}

/*
 *
 * Search Page css
 *
 */

#searchBySelector{
    color: white;
    width: 90%;
    height: 3.5%;
    padding: 1%;
    margin: auto;
}

#display{
    width: 90%;
    height: 90%;
    margin: auto;
}

#holderSmall{
    float: left;
    width: 48.75%;
    height: auto;
}

#holderMid{
    width: 45%;
    height: 85%;
}

#holderLarge{
    float: left;
    width: 100%;
    height: 75%;
}

#searchByQuiz, #searchByResults{
    border: solid thin black;
    margin: 0% 5% 0 5%;
    float: right;
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    padding: 1% 0 0 5%; 
}

/* This might not be required...
#searchByResults{
    border: solid thin black;
    margin: 0% 5% 0 5%;
    float: right;
    width: 80%;
    height: 100%;
    background-color: blue;
    padding: 1% 0 0 5%; 
}
*/

#emptySpacer{
    float: right;
    background-color: black;
    width: 48%;
    height: 12.5%;
}

#leftRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: brown;
}

#rightRadio{
    float: left;
    height: 100%;
    width: 10%;
    background-color: gray;
}

#output{
    float: bottom;
    height: 100%;
    width: 100%;
}

#outputData{
    text-align: center;
    float: left;
    margin: auto;
    height: 50%;
}

#searchBox{
    background-color: whitesmoke;
    border: solid thin black;
    width: 60%;
    height: 45%;
    margin: 5% auto;
    padding: 5%;
    position: relative; 
}

#quizName{
    text-align: left;
    width: 100%;
    height: auto;
    position: relative; 
    text-decoration: underline;
}

#quizDescription{
    text-align: left;
    width: 100%;
    height: auto;
    position: relative;
    text-decoration: underline;
}

#btnTakeQuiz{
    text-align: right;
    margin: 5% 0 1% 0;
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0;
}

/* 
 * Login Page css 
 */

#centerLogin{
    padding: 10% 0 0 0;
    background-color: white;
    width: 100%;
    height: 85%;
    margin: auto;
}

#login, #signup{
    margin: auto;
    border: solid thin black;
    width: 25%;
    height: auto;
    background-color: cyan;
    border-radius: .5em;
}

#loginInner{
    margin: 0 12.5%;
    width: 100%;
    height: 100%;
}

#loginInner input{
    margin: 0 15% 0 0;
    float: right;
    width: 50%;
    height: 100%;
}

#loginInnerBot, #loginInnerTop{
    text-align: center;
    width: 75%;
    margin: 2.5% 0;
}

/* 
 * Editor Page css 
 */

#sideLeft{
    float: right;
    padding: 1%;
    height: 100%;
}

#sideRight{
    float: left;
    padding: 1%;
}

#btnCreateNew, #btnEditExisting{
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    padding: 15% 25% 15% 25%;
    margin: 10%;
    background-color: aqua;
    border-radius: .5em;
}

#searchPanel{
    border: solid thin black;
    
    border-radius: .5em;
}

#searchBox{
    border: solid thin black;
    border-radius: .5em;
    position: relative;
    bottom: 0;
}

#infoPanel{
    border: solid thin black;
    border-radius: .5em;
}

#infoPanel input{
    width: 90%;
}

#searchData{
    
}

#quizSearchData{
    border: solid thin black;
}

#quizQuestionSearch{
    border: solid thin black;
    padding: 5% 2.5%;
}

#questionSearch{
    padding: 5% 2.5%;
}

#questionAdded{
    border: solid thin black;
    padding: 5% 2.5%;
}

#themeSelector{
    height: 50%;
    margin: 20% 0;
}

#colorChoice{
    height: 100%;
    border: solid thin black;
    border-radius: 1em;
}

#questionPassButtons{
    float: left;
    height: 100%;
    width: 2.5%;
    margin: 5% 0 0 0;
    background-color: pink;
}

#selectButtonEdit button{
    background-color: darkmagenta;
}

/* 
 * Quiz Page css 
 */

#quizHolder{
    position: relative;
    border: solid thin black;
    width: 65%;
    margin: auto;
    height: 50%;
    background-color: whitesmoke;
}

#buttonHolder{
    position: absolute;
    bottom: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#buttonHolder button{
    margin: 2.5%;
    padding: 1%;
}
    
.error{
    color: red;
    font-weight: bold;
}