#URL mapping for REST API Demo
RewriteEngine on

#old stuff kept for reference
#user service
RewriteRule ^quizmaster/account$ api/UserService.php [NC]
RewriteRule ^quizmaster/account/([0-9]+)$ api/UserService.php?id=$1 [NC]
RewriteRule ^quizmaster/account/([0-9]+)/(\w+)$ api/UserService.php?id=$1&password=$2 [NC]
RewriteRule ^quizmaster/account/byName/(\w+)$ api/UserService.php?username=$1 [NC]
RewriteRule ^quizmaster/account/login/(\w+)/(\w+)$ api/UserService.php?username=$1&password=$2 [NC]

#quiz service
RewriteRule ^quizmaster/quiz$ api/QuizService.php [NC]
RewriteRule ^quizmaster/quiz/([0-9]+)$ api/QuizService.php?id=$1 [NC]
RewriteRule ^quizmaster/quiz/byName/([\w\s]+)$ api/QuizService.php?name=$1 [NC]
RewriteRule ^quizmaster/quiz/byTag/([\w\s]+)$ api/QuizService.php?tag=$1 [NC]

#question service 
RewriteRule ^quizmaster/question$ api/QuestionService.php [NC]
RewriteRule ^quizmaster/question/([0-9]+)$ api/QuestionService.php?id=$1 [NC]
RewriteRule ^quizmaster/question/ByName/(\w\s+)$ api/QuestionService.php?title=$1 [NC]
RewriteRule ^quizmaster/question/ByTag/(\w\s+)$ api/QuestionService.php?tags=$1 [NC]
RewriteRule ^quizmaster/question/ByChoices/(\w\s+)$ api/QuestionService.php?choice=$1 [NC]

#results service
RewriteRule ^quizmaster/results$ api/ResultsService.php [NC]
RewriteRule ^quizmaster/account/([0-9]+)/results$ api/ResultsService.php?userid=$1 [NC]
RewriteRule ^quizmaster/account/([0-9]+)/results/quiz/byname/(\w\s+)$ api/ResultsService.php?userid=$1&title=$2 [NC]
RewriteRule ^quizmaster/account/([0-9]+)/results/quiz/bytag/(\w\s+)$ api/ResultsService.php?userid=$1&tags=$2 [NC]
RewriteRule ^quizmaster/account/([0-9]+)/results/bydate/(\w+)/(\w+)$ api/ResultsService.php?userid=$1&from=$2&to=$3 [NC]
RewriteRule ^quizmaster/account/([0-9]+)/results/byscore/([0-9]+)/([0-9]+)$ api/ResultsService.php?userid=$1&min=$2&max=$3 [NC]
RewriteRule ^quizmaster/results/quiz/byname/(\w\s+)$ api/ResultsService.php?title=$1 [NC]
RewriteRule ^quizmaster/results/quiz/bytag/(\w\s+)$ api/ResultsService.php?quiztag=$1 [NC]
RewriteRule ^quizmaster/results/question/byname/(\w\s+)$ api/ResultsService.php?text=$1 [NC]
RewriteRule ^quizmaster/results/question/bytag/(\w\s+)$ api/ResultsService.php?questiontag=$1 [NC]
RewriteRule ^quizmaster/results/bydate/(\w+)/(\w+)$ api/ResultsService.php?from=$1&to=$2 [NC]

