#URL mapping for REST API Demo
RewriteEngine on

#old stuff kept for reference
#user service
RewriteRule ^quizmaster/account$ api/UserService.php [NC]
RewriteRule ^quizmaster/account/([0-9]+)$ api/UserService.php?id=$1 [NC]
RewriteRule ^quizmaster/account/byName/(\w+)$ api/UserService.php?username=$1 [NC]
RewriteRule ^quizmaster/account/login& api/UserService.php?login=1 [NC]

#RewriteRule ^monsterService/monsters$ api/monsterService.php [NC]
#RewriteRule ^monsterService/monsters/([0-9]+)$ api/monsterService.php?monsterID=$1 [NC]
#RewriteRule ^monsterService/types$ api/monsterTypeService.php [NC]
#RewriteRule ^monsterService/types/(\w+)$ api/monsterTypeService.php?typeName=$1 [NC]
