#URL mapping for REST API Demo
RewriteEngine on

#old stuff kept for reference
#user service
RewriteRule ^quizmaster/account$ api/UserService.php [NC]
RewriteRule ^quizmaster/account/([0-9]+)$ api/UserService.php?id=$1 [NC]
RewriteRule ^quizmaster/account/byName/(\w+)$ api/UserService.php?username=$1 [NC]
RewriteRule ^quizmaster/account/login/(\w+)/(\w+)$ api/UserService.php?username=$1&password=$2 [NC]

#quiz service
RewriteRule ^quizmaster/quiz$ api/QuizService.php [NC]
RewriteRule ^quizmaster/quiz/([0-9]+)$ api/QuizService.php?id=$1 [NC]
RewriteRule ^quizmaster/quiz/byName/([\w\s]+)$ api/QuizService.php?name=$1 [NC]
RewriteRule ^quizmaster/quiz/byTag/([\w\s]+)$ api/QuizService.php?tag=$1 [NC]

#question service 
RewriteRule ^quizmaster/question$ api/QuestionService.php [NC]
RewriteRule ^quizmaster/question/([0-9]+)$ api/QuestionService.php?id=$1 [NC]
RewriteRule ^quizmaster/question/ByTitle/(\w+)$ api/QuestionService.php?title=$1 [NC]
RewriteRule ^quizmaster/question/ByTag/(\w+)$ api/QuestionService.php?tags=$1 [NC]
RewriteRule ^quizmaster/question/ByChoices/(\w+)$ api/QuestionService.php?choice=$1 [NC]


